{% extends "layout/subLayout.html" %}
{% block title %}Courser List{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center">
    <h3 class='text-success-emphasis'>Course List</h2>
    <h4 class='text-body-secondary'>current competition courses</h3>
    {% for course in course_list %}
        <div class="col-sm-4 my-5 mb-sm-0">
            <div class="card shadow rounded-4 border border-0 h-100" >
                <img src={{ url_for('static', filename=course[2]) }} class="card-img-top" alt="...">
                <!-- <img src="../static/{{course[2]}}" class="card-img-top" alt="..."> -->
                <div class="card-body bg-body-tertiary">
                <h5 class="card-title text-success-emphasis">Course Name: {{course[1]}}</h5>
                <h6 class='card-title text-body-secondary'>Course ID: {{course[0]}}</h6>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}