{% extends "layout/subLayout.html" %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center table-responsive-md">
  <h3 class='text-success-emphasis'>Overall Results</h2>
  
  <table class="table table-hover table-bordered m-3">
    <thead>
      <!-- <tr>
        <th colspan="5" class='text-center text-success-emphasis'>Driver Info</th>
        <th colspan="2" class='text-center text-success-emphasis'>Car Info</th>
      </tr> -->
      <tr>
        <th class='text-success-emphasis'>Driver ID</th>
        <th class='text-success-emphasis'>Driver Name</th>
        <th class='text-success-emphasis'>Car Model</th>
        <th colspan="5" class='text-success-emphasis'>Result</th>
      </tr>
    </thead>
    <tbody class="table-group-divider ">
      <tr>
        <td>test</td>
      </tr>
 
    </tbody>
  </table>
</div>
{% endblock %}
