{% extends "layout/adminLayout.html" %}
{% block title %}Junior driver List{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center table-responsive-md">
  <h3 class='text-success-emphasis'>Search for Drivers</h3>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Get Run by Driver
    </button>
    <ul class="dropdown-menu">
      {% for driver in driver_run_info %}
        <li><a class="dropdown-item" href={{ url_for('runsearch',driver_id=driver[0]) }}>{{ driver[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Get Run by Course
    </button>
    <ul class="dropdown-menu">
      {% for course in course_details %}
        <li><a class="dropdown-item" href={{ url_for('runsearch',course_id=course[0]) }}>{{ course[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>    
  <table class="table table-hover table-bordered m-3 {% if show_results %}visible{% else %}invisible{% endif %}">
    <thead>
      <tr>
        <th class='text-success-emphasis'>Driver_id</th>
        <th class='text-success-emphasis'>Name</th>
        <th class='text-success-emphasis'>Course Id</th>
        <th class='text-success-emphasis'>Run Time</th>
        <th class='text-success-emphasis'>Seconds</th>
        <th class='text-success-emphasis'>Cons</th>
        <th class='text-success-emphasis'>WD</th>
      </tr>
    </thead>
    <tbody class="table-group-divider ">
      {% for run in run_info %}
        <tr>
          {% for template in run %}
            <td class='text-success-emphasis'>{{ template }}</td>
          {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}