{% extends "layout/adminLayout.html" %}
{% block content %}

<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<div class="row px-5 my-3 d-flex justify-content-center">
  <!-- List Courses Card -->
  {% with card_title='Junior driver List',
    card_content='Juniors are aged 12-25, Junior drivers who are 16 or
    younger must also have a designated caregiver (the driver ID of another driver who isn’t a junior). ',
    link_url=url_for('juniorList'),
    btn_class='btn-warning',
    link_text='Junior' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}

  <!-- List of Driver Card -->
  {% with card_title='Search for Drivers',
    card_content='Searching driver by typing partial first name or surname.',
    link_url=url_for('driversearch'),
    btn_class='btn-warning',
    link_text='Drivers' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}
</div>

<div class="row px-5 my-2 d-flex justify-content-center">

  <!-- List of Overall Results Card -->
  {% with card_title='Edit Run',
    card_content='Edit run content',
    link_url=url_for('runsearch'),
    btn_class='btn-warning',
    link_text='Edit Run' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}

  {% with card_title='Add drivers',
    card_content='New driver can be added, existing car can be
    selected',
    link_url=url_for('/'),
    btn_class='btn-warning',
    link_text='Add Driver' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}
</div>
{% endblock %}