{% extends "layout/subLayout.html" %}
{% block content %}
{{ super() }}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<div class="row px-5 my-3 d-flex justify-content-center table-responsive-md">
  <h3 class='text-success-emphasis'>Driver Details</h2>
  
  <table class="table table-bordered m-3">
    <thead class="table-success">
      <tr>
        <th colspan="2" class='text-center text-success-emphasis'>Driver</th>
        <th rowspan="2" class='text-center text-success-emphasis align-middle'>Runs Info</th>
        <th colspan="2" class='text-center text-success-emphasis'>Car</th>
      </tr>
      <tr>
        <th class='text-success-emphasis'>Driver ID</th>
        <th class='text-success-emphasis'>Name</th>
        <th class='text-success-emphasis'>Car Model</th>
        <th class='text-success-emphasis'>Driver Class</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
          <td class='text-success-emphasis'>{{ driver[0] }}</td>
          <td class='text-success-emphasis'>{{ driver[1] }}</td>
          <td>
            <table class='table table-hover table-bordered'>
              <thead class='table-warning'>
                <tr>
                  <th class='text-success-emphasis'>Course Name</th>
                  <th class='text-success-emphasis'>Run Num</th>
                  <th class='text-success-emphasis'>Second</th>
                  <th class='text-success-emphasis'>Cones</th>
                  <th class='text-success-emphasis'>WD</th>
                  <th class="text-success-emphasis">Run Total</th>
                </tr>
              </thead>
              <tbody class='table-group-divider'>
                {% for run in runs %}
                  <tr>
                    {% for field in run %}
                      <td class='text-success-emphasis align-middle'>{{ field }}</td>
                    {% endfor %}
                  {% endfor %}
                  </tr>
              </tbody>
            </table>
          </td>
          
          <td class='text-success-emphasis'>{{ driver[2] }}</td>
          <td class='text-success-emphasis'>{{ driver[3] }}</td>
        </tr>
    </tbody>
  </table>
</div>

{% endblock %}