{% extends "layout/base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<div class="row px-5 my-3 d-flex justify-content-center">
  <!-- List Courses Card -->
  {% with card_title='List of Courses',
    card_content='A Motorkhana has six courses, to view the details of courses, click the button below.',
    link_url='listcourses',
    btn_class='btn-outline-success',
    link_text='Courses' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}

  <!-- List of Driver Card -->
  {% with card_title='List of Drivers',
    card_content='To view the list of drivers, click the button below.',
    link_url='listdrivers',
    btn_class='btn-outline-success',
    link_text='Drivers' 
  %}

    {% include 'component/card.html' %}
  {% endwith %}
</div>

<div class="row px-5 my-2 d-flex justify-content-center">

  <!-- List of Overall Results Card -->
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card shadow rounded  border border-0">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-success-emphasis">Overall Results</h5>
        <p class="card-text py-3 flex-grow-1 text-body-secondary">
          A Motorkhana has six courses, and each driver has two runs (attempts) at each course, with the best
          of those two runs counting towards their overall result for the day. Each run total is the driver’s time
          in seconds plus any cone/wrong direction penalties (5 seconds per cone hit, 10 seconds for a WD).
        </p>
        <div class="d-inline-flex justify-content-end w-100">
          <a href="#" class="btn btn-outline-success">Results</a>
        </div>
      </div>
    </div>
  </div>
  <div class="align-items-stretch col-sm-4">
    <div class="card shadow rounded  border border-0 h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title text-success-emphasis">Bar graph</h5>
        <p class="card-text py-3 flex-grow-1 text-body-secondary">Display a horizontal bar graph of the top 5 drivers overall.</p>
        <div class="d-inline-flex justify-content-end w-100">
          <a href="#" class="btn btn-outline-success">Graph</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}