{% extends "layout/driverLayout.html" %}
{% block title %}Driver Details{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center table-responsive-md">
  <div class="">
    <h3 class='text-success-emphasis'>Driver Details</h2>
    <p>Driver_ID: {{ driver[0] }}</p>
    <p>Driver_Name: {{ driver[1] }}</p>
  </div>
  <div class="">
    <h3 class='text-success-emphasis'>Car Details</h2>
    <p>Car_Model: {{ driver[2] }}</p>
    <p>Driver_Class: {{ driver[3] }}</p>
  </div>

  <table class="table table-bordered m-3">
    <thead class="table-success">
      <tr>
        <th colspan="2" class='text-center text-success-emphasis'>Driver</th>
        <th rowspan="2" class='text-center text-success-emphasis align-middle'>Runs Info</th>
        <th colspan="2" class='text-center text-success-emphasis'>Car</th>
      </tr>
      <tr>
        <th class='text-success-emphasis'>Driver ID</th>
        <th class='text-success-emphasis'>Name</th>
        <th class='text-success-emphasis'>Car Model</th>
        <th class='text-success-emphasis'>Driver Class</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
          <td class='text-success-emphasis'>{{ driver[0] }}</td>
          <td class='text-success-emphasis'>{{ driver[1] }}</td>
          <td>
            <table class='table table-hover table-bordered'>
              <thead class='table-warning'>
                <tr>
                  <th class='text-success-emphasis'>Course Name</th>
                  <th class='text-success-emphasis'>Run Num</th>
                  <th class='text-success-emphasis'>Second</th>
                  <th class='text-success-emphasis'>Cones</th>
                  <th class='text-success-emphasis'>WD</th>
                  <th class="text-success-emphasis">Run Total</th>
                </tr>
              </thead>
              <tbody class='table-group-divider'>
                {% for run in runs %}
                  <tr>
                    <td class='text-success-emphasis align-middle'>{{ run[0] }}</td>
                    <td class='text-success-emphasis align-middle'>{{ run[1] }}</td>
                    <td class='text-success-emphasis align-middle'>
                      {% if run[2] is not none %}
                        {{ run[2] }}
                      {% endif %}
                    </td>
                    <td class='text-success-emphasis align-middle'>
                      {% if run[3] is not none %}
                        {{ run[3] }}
                      {% endif %}
                    </td>
                    <td class='text-success-emphasis align-middle'>
                      {% if run[4] != 0 %}
                        WD
                      {% endif %}
                    </td>
                    <td class='text-success-emphasis align-middle'>
                      {% if run[5] is not none %}
                        {{ run[5] }}
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </td>
          
          <td class='text-success-emphasis'>{{ driver[2] }}</td>
          <td class='text-success-emphasis'>{{ driver[3] }}</td>
        </tr>
    </tbody>
  </table>
</div>
{% endblock %}
