{% extends "layout/driverLayout.html" %}
{% block title %}Driver List{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center table-responsive-md">
    <h3 class='text-success-emphasis'>Driver List</h2>
    
    <table class="table table-hover table-bordered m-3">
      <thead>
        <tr>
          <th colspan="4" class='text-center text-success-emphasis'>Driver Info</th>
          <th colspan="2" class='text-center text-success-emphasis'>Car Info</th>
        </tr>
        <tr>
          <th class='text-success-emphasis'>Name (surname first_name)</th>
          <th class='text-success-emphasis'>Date of Birth</th>
          <th class='text-success-emphasis'>Age</th>
          <th class='text-success-emphasis'>Caregiver</th>
          <th class='text-success-emphasis'>Car Model</th>
          <th class='text-success-emphasis'>Driver Class</th>
        </tr>
      </thead>
      <tbody class="table-group-divider ">
        {% for driver in driver_list %}
          <tr class='{% if driver[4] is not none and 12 <= driver[4] <= 25  %}table-warning{% endif %}'>
            
            <td class='text-success-emphasis'>
              <a href="{{ url_for('driver', driver_id=driver[0]) }}">
                {{ driver[2] }}  {{ driver[1] }}
              </a>
            </td>
            <td class='text-success-emphasis'>
              {% if driver[3] is not none %}
                {{ driver[3] }}
              {% endif %}
            </td>
            <td class='text-success-emphasis'>
              {% if driver[4] is not none %}
                {{ driver[4] }}
              {% endif %}
            </td>
            <td class='text-success-emphasis'>
              {% if driver[5] is not none %}
                {{ driver[5] }}
              {% endif %}
            </td>

            <td class='text-success-emphasis'>{{ driver[8] }}</td>
            <td class='text-success-emphasis'>{{ driver[9] }}</td>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
