{% extends "layout/adminLayout.html" %}
{% block title %}Add Driver{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center">
  <h3 class='text-success-emphasis'>Add Driver</h3>
  {% if error_message %}
    {% for message in error_message %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor%}
  {% endif %}

  <form class='shadow rounded border border-0 p-5 col-sm-12 col-lg-8' method='POST' action='/add_driver'>
    <div class="d-flex justify-content-end mb-3 row">
      <button class="btn btn-outline-success col-sm-3 col-lg-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Is Junior
      </button>
      <p class='text-end fst-italic fw-light fs-6 text-black-50'>
        Juniors are aged 12-25 years old
      </p>
    </div>
    <div class="mb-3 row">
      <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          class="form-control" 
          id="first_name" 
          name='first_name'
          required>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="surname" class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          class="form-control" 
          id="surname" 
          name='surname'
          required>
      </div>
    </div>
  
    <div class="collapse" id="collapseExample">
      <div class="mb-3 row">
        <label for="date_of_birth" class="col-sm-2 col-form-label">Date of birth</label>
        <div class="col-sm-10">
          <input 
            type="date" 
            class="form-control {{ 'is-invalid' if error_message }}" 
            id="date_of_birth" 
            name='date_of_birth'
            aria-describedby="birthHelp"
            >
            <div id="birthHelp" class="form-text">
              Juniors are aged 12-25 years old, and must have a date of birth
            </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="caregiver" class="col-sm-2 col-form-label">Caregiver</label>
        <div class="col-sm-10">
          <select 
            class="form-select" 
            id='caregiver'
            name='caregiver'
            aria-label="Select a caregiver"
            aria-describedby="caregiverHelp">
            <option selected disabled value="">Open this select caregiver</option>
            {% for caregiver in caregiver_list %}
              <option value={{ caregiver[0] }}>{{ caregiver[1] }}</option>
            {% endfor %}
          </select>
          <div id="caregiverHelp" class="form-text">
            <span>
              Junior drivers who are 16 or younger must also have a caregiver.
            </span>
            <p>
              If there is no caregiver on the list, add one first as a new driver.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="car" class="col-sm-2 col-form-label">Car</label>
      <div class="col-sm-10">
        <select 
          class="form-select" 
          id='car'
          name='car'
          aria-label="Select a car"
          required>
          <option selected disabled value="">Open this select a car</option>
          {% for car in car_list %}
            <option value={{ car[0] }}>{{ car[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="mb-3 row">
      <button 
        type="submit" 
        class="btn btn-warning mb-3 text-success-emphasis">
        Add Driver
      </button>
    </div>
  </form>
</div>  
{% endblock %}
