{% extends "layout/adminLayout.html" %}
{% block title %}Edit Run Form{% endblock %}
{% block content %}
{{ super() }}
<div class="row px-5 my-3 d-flex justify-content-center">
  <h3 class='text-success-emphasis'>Edit Run Form</h3>
  <form class='shadow rounded border border-0 p-5 col-sm-8 col-lg-6' method='POST' action='/edit_run'>
    <div class="mb-3 row">
      <label for="driver_id" class="col-sm-2 col-form-label">Driver ID</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          readonly 
          class="form-control-plaintext" 
          id="driver_id" 
          value={{ driver_id }}
          name='driver_id'>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          readonly 
          class="form-control-plaintext" 
          id="name" 
          value={{ name }}
          name='name'>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="course_id" class="col-sm-2 col-form-label">Course ID</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          readonly 
          class="form-control-plaintext" 
          id="course_id" 
          value={{ course_id }}
          name='course_id'>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="run_num" class="col-sm-2 col-form-label">Run Num</label>
      <div class="col-sm-10">
        <input 
          type="text" 
          readonly 
          class="form-control-plaintext" 
          id="run_num"
          value={{ run_num }}
          name='run_num'>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="seconds" class="col-sm-2 col-form-label">Seconds</label>
      <div class="col-sm-10">
        <input 
          type="number" 
          class="form-control" 
          id='seconds'
          name='seconds'
          value={{ seconds }}
          min="1" 
          max="1000" 
          step="0.01"
          {% if is_redirect %} readonly {% endif %}
          required
          >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="cones" class="col-sm-2 col-form-label">Cones</label>
      <div class="col-sm-10">
        <input 
          type="number" 
          class="form-control" 
          id="cones" 
          name='cones'
          value={{ cones }}
          min="0" 
          max="20" 
          {% if is_redirect %} readonly {% endif %}
          required
          >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="wd" class="col-sm-2 col-form-label">WD</label>
      <div class="col-sm-10">
        <input 
          type="number" 
          class="form-control" 
          name='wd'
          id="wd" 
          value={{ wd }}
          min="0" 
          max="10"
          {% if is_redirect %} readonly {% endif %}
          required
          >
      </div>
    </div>
    <div class="mb-3 row">
      <button 
        type="submit" 
        class="btn btn-warning mb-3 text-success-emphasis"  {% if is_redirect %} disabled {% endif %}>
        {% if is_redirect %}
          Updated
        {% else %}
          Submit
        {% endif %}
      </button>
    </div>
  </form>
</div>  
{% endblock %}
